{% extends "base.html.twig" %}
{% block title %}Liste des Artisanes !{% endblock %}

{% block body %}

<div class="mask" >
  <div class="d-flex justify-content-center align-items-center h-100 mt-5 mb-5">
    <div class="text-white">
      <h1 class="mb-3">Trouvez une artisane près de chez vous</h1>
      
      <form class="d-flex">
          <input class="form-control me-sm-2" type="search" placeholder="Par exemple : Plomberie">
          <button type="button" class="btn btn-success">Trouvez</button>
        </form>
    </div>
  </div>
</div>

{% endblock %}

