{% extends "base.html.twig" %}
{# Je precise à twig que je vais utiliser un theme de formulaire    #}
{% form_theme form 'foundation_5_layout.html.twig' %}


{% block body %}

<h1>Creation d'une artisane!</h1>


    
{% endblock %}
